/* Importerar externt google font typsnitt, Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

@media screen {

    /* Tar bort all margin och padding samt sätter box-sizing */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Sätter storlek på typsnitt i roten */
    html {
        font-size: 62.5%;
        height: 100%;
    }

    /* Typsnitt, storlek och bakgrundfärg för allt inom bodyn */
    body {
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        background-color: #EBD9C1;
        color: black;
        height: 100%;
    }

    /* Sätter bilder till 100 % storlek */
    img {
        width: 100%;
        height: auto;
    }

    /* Styling och position för header */
    #computerhead {
        background-color: #30190D;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0 0 0;
        z-index: 3;
    }

    /* Meny/navigering för datorvy, fixerad position */
    #computernav {
        background-color: #7A4A31;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 99px;
        left: 0;
        padding: 10px 0;
        width: 100%;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
        font-family: "Montserrat", "Roboto", Arial, sans-serif;
        letter-spacing: 0.5rem;
        z-index: 1;
    }

    /* Visar lista i flex row */
    #navlinks ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    /* Tar bort listprickar */
    #navlinks ul li {
        list-style-type: none;
    }

    /* Styling för bakgrundsbild */
    #background img {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        object-fit: cover;
        z-index: -1;
        filter: brightness(30%);
    }

    /* Allt inom main visas i grid */
    main {
        display: grid;
        grid-template-columns: auto auto;
        margin: 147px auto 0;
        width: 80%;
        max-width: 1200px;
    }

    /* Större max-bredd för produktsidorna */
    #product-grid {
        max-width: 1400px !important;
    }

    /* Visas i flex istället för grid */
    #flex {
        display: flex;
        flex-direction: column;
    }

    /* Ändrar rubriker i flexläge */
    #flex h2 {
        text-align: left;
        margin: 0 0 4rem 0;
    }

    #flex h3 {
        margin: 2rem 0;
    }

    #flex img {
        max-width: 100px;
        margin-top: 1rem;
    }

    /* Styling för tabell och tabellinnehåll */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    thead td,
    .checkout-sum {
        font-weight: bold;
        text-align: center;
        padding: 1rem 0 0.5rem 0;
    }

    td {
        text-align: center;
        margin-bottom: 2rem;
    }

    table,
    th,
    tr,
    td {
        border-bottom: 1px solid #3a3a3a;
    }

    fieldset {
        border: none;
    }

    input,
    select {
        height: 30px;
        width: 50%;
        margin-bottom: 2rem;
        margin-right: 1rem;
        padding-left: 1rem;
        font-size: 1.4rem;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    input[type="checkbox"] {
        vertical-align: middle;
        max-width: 20px;
        margin-bottom: 0.3rem;
    }

    label {
        vertical-align: middle;
    }

    /* Styling och position för brödsmulor */
    #breadcrumbs {
        position: absolute;
        top: 200px;
        font-size: 1.4rem;
        color: black;
    }

    /* Styling för länkar i sektioner och brödsmulor */
    section a,
    #breadcrumbs a {
        color: #9C4517;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

    /* Styling för länkhover i sektioner och brödsmulor */
    section a:hover,
    #breadcrumbs a:hover {
        color: #ca5414;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

    /* Tar bort underline för alla länkar */
    a {
        text-decoration: none;
    }

    /* Styling för länkar vid hover */
    a:hover {
        text-decoration: underline;
        text-decoration-color: black;
        text-underline-offset: 1rem;
    }

    /* Styling för pris */
    #price {
        font-size: 2rem;
        font-weight: bold;
    }

    /* Styling för o-ordnad lista */
    ul {
        padding: 0 4rem;
        margin-top: 1rem;
    }

    /* --------------------------------- GRID ITEMS -------------------------------- */

    /* Postion och styling för grid-item */
    #item1 {
        grid-row: 1;
        grid-column: 1;
        margin: 5rem auto 10rem auto;
        font-size: 1.8rem;
        line-height: 3rem;
        max-width: 55ch;
        color: white;
    }

    /* Styling för grid-item rubrik */
    #item1 h1 {
        color: white;
        margin: 4rem 0 2rem 0;
    }

    /* Postion och styling för grid-item */
    #item2 {
        grid-row: 1;
        grid-column: 2;
        margin: 10rem auto 0 5rem;
    }

    /* Visar som flex, centrerar bild */
    #item2 img {
        display: flex;
        margin: 5rem auto;
    }

    /* Postion och styling för grid-item */
    #itemhead {
        grid-row: 1;
        grid-column: 1 / span 2;
        margin-top: 12rem;
    }

    /* Postion för grid-item */
    #itemsubhead {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    /* Postion och styling för grid-item */
    #prod1 {
        grid-row: 3;
        grid-column: 1;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin: 5rem 2rem 5rem auto;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }

    /* Postion och styling för grid-item */
    #prod2 {
        grid-row: 3;
        grid-column: 2;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin: 5rem auto 5rem 2rem;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }

    /* Postion grid-item */
    #itemsubhead2 {
        grid-row: 4;
        grid-column: 1 / span 2;
    }


    /* Postion och styling för grid-item */
    #prod3 {
        grid-row: 5;
        grid-column: 1;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin-top: 5rem;
        margin-right: 2rem;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }


    /* Postion och styling för grid-item */
    #prod4 {
        grid-row: 5;
        grid-column: 2;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin-top: 5rem;
        margin-left: 2rem;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }

    /* Postion och styling för grid-item */
    #prod5 {
        grid-row: 6;
        grid-column: 1;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin: 5rem 2rem 10rem auto;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }

    /* Postion och styling för grid-item */
    #prod6 {
        grid-row: 6;
        grid-column: 2;
        margin: auto;
        background-color: #EBD9C1;
        border-radius: 10px;
        text-align: center;
        margin: 5rem auto 10rem 2rem;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
    }

    /* Storlek för grid-item */
    #prod1,
    #prod2,
    #prod3,
    #prod4,
    #prod5,
    #prod6 {
        width: 80%;
    }

    /* Maxbredd för bilder */
    #prod1 img,
    #prod2 img,
    #prod3 img,
    #prod4 img,
    #prod5 img,
    #prod6 img {
        max-width: 350px;
        margin-top: 2rem;
        padding: 0 2rem;
    }

    /* Padding för rubriker till produkter */
    #prod1 h3,
    #prod2 h3,
    #prod3 h3,
    #prod4 h3,
    #prod5 h3,
    #prod6 h3 {
        padding: 0 2rem;
    }

    /* Hover för grid-item */
    #prod1:hover,
    #prod2:hover,
    #prod3:hover,
    #prod4:hover,
    #prod5:hover,
    #prod6:hover {
        background-color: #cfb89a;
    }

    /* Postion och styling för grid-item */
    #storyhead {
        grid-row: 1;
        grid-column: 1 / span 2;
        margin-top: 12rem;
        margin-bottom: 5rem;
    }

    /* Postion och styling för grid-item */
    #story1 {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Mindre storlek och maxbredd på bild */
    #story1 img {
        width: 80%;
        max-width: 300px;
        margin-top: 2rem;
    }

    /* Postion för grid-item */
    #story2 {
        grid-row: 3;
        grid-column: 2;
    }

    /* Postion för grid-item */
    #story3 {
        grid-row: 4;
        grid-column: 1;
    }

    /* Postion för grid-item */
    #story4 {
        grid-row: 5;
        grid-column: 2;
    }

    /* Postion för grid-item */
    #story5 {
        grid-row: 6;
        grid-column: 1;
    }

    /* Postion och styling för grid-item */
    #beans1 {
        grid-row: 2;
        grid-column: 2;
        margin: auto 0 auto 2rem;
    }

    /* Postion och styling för grid-item */
    #beans2 {
        grid-row: 3;
        grid-column: 1;
        margin: auto 2rem auto 0;
    }

    /* Postion och styling för grid-item */
    #beans3 {
        grid-row: 4;
        grid-column: 2;
        margin: auto 0 auto 2rem;
    }

    /* Postion och styling för grid-item */
    #beans4 {
        grid-row: 5;
        grid-column: 1;
        margin: auto 2rem auto 0;
    }

    /* Postion och styling för grid-item */
    #beans5 {
        grid-row: 6;
        grid-column: 2;
        margin: auto 0 auto 2rem;
    }

    /* Max-bredd för bilder */
    #beans1 img,
    #beans2 img,
    #beans3 img,
    #beans4 img,
    #beans5 img {
        max-width: 500px;
    }

    /* Postion och styling för grid-item */
    #itemhead2 {
        grid-row: 1;
        grid-column: 1 / span 3;
        margin-top: 12rem;
    }

    /* Postion och styling för grid-item */
    #itemsubhead3 {
        grid-row: 2;
        grid-column: 1 / span 3;
        margin-bottom: 5rem;
    }

    /* Visar bilder i grid */
    #productimg {
        display: grid;
        align-items: center;
    }

    /* Postion och styling för grid-item */
    #coffeesection {
        grid-row: 1;
        grid-column: 2;
        margin: 12rem auto 0 auto;
    }

    /* Postion och styling för rubrik i grid-item */
    #coffeesection h1 {
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
        margin: 4rem auto 0;
        line-height: 3.8rem;
        text-align: left;
    }

    /* Postion och styling för grid-item */
    #coffeesection2 {
        grid-row: 2;
        grid-column: 1;
        max-width: 55ch;
        margin-right: 4rem;
    }

    /* Postion och styling för rubrik i grid-item */
    #coffeesection2 h2 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
        margin: 4rem auto 0;
        line-height: 3.2rem;
        text-align: left;
    }

    /* Marginal för grid-item */
    #coffee1 {
        margin-top: 12rem;
    }

    /* Postion och styling för grid-item */
    #coffee3 {
        grid-column: 2;
        margin-top: 15rem;
        margin-right: 2rem;
    }

    /* Storlek och palcering för video */
    video {
        width: 100%;
        max-width: 494px;
        height: auto;
        grid-column: 2;
        grid-row: 2;
        margin: 4rem auto 0 auto;
    }

    /* Postion och styling för grid-item */
    #beans6 {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;
        justify-content: center;
        z-index: -1;
    }

    /* Minskar bredd och sätter max-bredd på bild */
    #beans6 img {
        width: 80%;
        max-width: 550px;
    }

    /* Klass för opacitet när mobilmeny öppnas (JS) */
    .opacity {
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Styling för knapp på startsida */
    #firstbtn {
        width: 100%;
        padding: 0 3rem;
        height: 4.5rem;
        font-size: 2.2rem;
        letter-spacing: 0.5rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        font-weight: 600;
        color: white;
        background-color: #9C4517;
        border: none;
        border-radius: 5px;
        margin: 6rem auto 0 auto;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
        cursor: pointer;
    }

    /* Hoverfärg för knapp */
    #firstbtn:hover {
        background-color: #8C3E14;
    }

    /* Styling för varukorgsknapp */
    #buybtn {
        width: 100%;
        height: 4.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        font-weight: 600;
        color: white;
        background-color: #9C4517;
        border: none;
        border-radius: 5px;
        margin: 2rem 0 0;
        cursor: pointer;
        padding: 0 1rem;
    }

    /* Styling för köpknapp + töm varukorgen-knapp */
    #emptybtn,
    #buybtn2 {
        width: 100%;
        max-width: 200px;
        height: 4.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        font-weight: 600;
        color: white;
        background-color: #9C4517;
        border: none;
        border-radius: 5px;
        margin: 6rem 0;
        cursor: pointer;
        padding: 0 1rem;
    }

    /* Hoverfärg för knappar */
    #buybtn:hover,
    #buybtn2:hover,
    #emptybtn:hover {
        background-color: #8C3E14;
    }

    /* Styling och position för sökfunktionen */
    #search {
        width: 20rem;
        height: 3rem;
        position: fixed;
        top: 4.55rem;
        right: 18rem;
        border-radius: 20px;
        border: none;
        font-size: 1.4rem;
        font-family: 'Roboto', Helvetica, sans-serif;
        text-align: left;
        padding-left: 2rem;
    }

    /* Styling och absolut position för sökknappen (ikon) */
    #searchbtn {
        font-size: 1.8rem !important;
        color: #30190D;
        position: fixed;
        top: 5.1rem;
        right: 20rem;
        z-index: 1;
        box-shadow: none;
        background: none;
        border: none;
    }

    /* Styling och position för "lilla varukorgen" */
    #small-basket {
        position: fixed;
        top: 5rem;
        right: 4rem;
        color: white;
    }

    /* Styling och position för pop-up notifikation */
    #notify {
        width: 100%;
        height: 0;
        line-height: 1.2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #ca5414;
        color: white;
        text-align: center;
        transition: height 1s;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        -ms-transition: height 1s;
        -o-transition: height 1s;
    }

    /* Styling för #notify när den har klassen .visible (JS klick) */
    #notify.visible {
        height: 60px;
    }

    /* Styling för citat */
    blockquote {
        font-size: 2rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        line-height: 3.6rem;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Styling för paragrafer i citat */
    blockquote p {
        margin: 0 0 0 22% !important;
    }

    /* Citattecken innan citat */
    blockquote::before {
        content: '\201E';
        font-size: 9em;
        color: #7A4A31;
    }

    /* Styling och position för varukorgsikon i header */
    header .fa-basket-shopping {
        font-size: 22px !important;
        position: fixed;
        top: 5rem;
        right: 12rem;
        color: white;
    }

    /* Styling och position för varukorgsikon i knapp */
    button .fa-basket-shopping {
        font-size: 18px;
        color: white;
        margin-left: 1rem;
    }

    /* Styling för högerpilsikon */
    .fa-long-arrow-alt-right {
        margin-left: 2rem;
        color: white;
    }

    /* Styling för länkar i meny/nav */
    nav a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.4rem;
        margin-left: 6rem;
        padding: 0 4rem;
    }

    /* Hover-färg på nav-länkar samt aktiv sida */
    nav a:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: #ffffff;
    }

    /* Styling för länkar vid klick i nav */
    nav a:active {
        color: #ca5414;
        text-decoration-color: #ca5414;
    }

    /* Styling för aktiv sida i nav */
    #active {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: #ffffff;
    }

    /* Margin för paragrafer i sektioner */
    section p {
        margin: 2.2rem auto;
        max-width: 55ch;
    }

    /* Styling för rubriker */
    h1 {
        font-size: 3.6rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        color: black;
        font-weight: bold;
        text-align: center;
        margin: 4rem 0 0 0;
        letter-spacing: 0.5rem;
        line-height: 4.8rem;
    }

    h2 {
        font-size: 3rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        color: black;
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-align: center;
        margin: 4rem 0 0 0;
        line-height: 4.2rem;
    }

    h3 {
        font-size: 2.4rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        color: black;
        font-weight: 600;
        letter-spacing: 0.2rem;
        margin: 4rem 0 0 0;
        line-height: 3.6rem;
    }

    h4 {
        font-size: 2rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        color: black;
        font-weight: 600;
        letter-spacing: 0.2rem;
        margin: 4rem 0 0 0;
        line-height: 3.2rem;
    }

    /* Döljer mobil-meny */
    .menubtn,
    #mobilenav {
        display: none;
    }

    /* Vit bakgrund */
    #whitebackground {
        background-color: white;
    }

    /* Styling för footer och dess innehåll */
    footer {
        background-color: #7A4A31;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.70);
        color: white;
        padding: 2rem 2rem 0 2rem;
        line-height: 3rem;
        font-size: 1.4rem;
        margin-top: 10rem;
        text-align: center;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer ul li {
        list-style-type: none;
        margin: 1rem 0;
    }

    footer h2 {
        font-size: 1.6rem;
        font-family: "Montserrat", 'Roboto', Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        letter-spacing: 0.2rem;
        margin: 2rem auto 1rem;
        text-align: center;
        line-height: 2rem;
    }

    footer a {
        color: white;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        padding: 1rem 2rem;
    }

    footer a:hover {
        color: #ca5414;
        text-underline-offset: 0.2rem;
        text-decoration-color: #ca5414;
    }

    #footer-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #bottom-foot ul {
        margin: 4rem auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.2rem;
    }

    #bottom-foot a,
    #bottom-foot p {
        padding: 1rem;
    }

    /* Margin efter ikoner innan text */
    .fa-location-dot,
    .fa-phone,
    .fa-envelope,
    .fa-instagram,
    .fa-facebook,
    .fa-square-twitter {
        margin-right: 1rem;
    }
}

/* Styling för skärmar mindre än 1024px */
@media screen and (max-width: 1024px) {

    /* Visar main i flex istället för grid, minskar marginal till topp */
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 99px auto 0;
    }

    #breadcrumbs {
        left: 10%;
        top: 140px;
        margin-right: 10%;
    }

    #coffeesection {
        margin: 12rem auto 0 auto;
    }

    #coffeesection2 {
        margin-top: 2rem;
        margin-right: 0;
    }

    h2 {
        margin: 4rem 0 1rem 0;
    }

    #storyhead {
        margin-bottom: 2rem;
    }

    #flex h2 {
        margin: 3rem 0 4rem 0;
    }

    video {
        margin: 6rem 0 0 0;
        max-width: 819.19px;
    }

    /* Döljer menylänkar i nav för datorläge */
    #computernav {
        display: none;
    }

    /* Styling av mobilmeny */
    #mobilenav {
        background-color: #30190D;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.70);
        position: fixed;
        left: 0;
        top: 77px;
        height: 100vh;
        width: 280px;
        z-index: 2;
    }

    /* Styling för o-ordnad lista i mobilmeny */
    #mobilenav ul {
        margin-top: 40%;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 0;
    }

    /* Styling för listobjekt i mobilmeny */
    #mobilenav li {
        margin: 4rem 1rem;
    }

    /* Styling för länkar i mobilmeny */
    #mobilenav a {
        color: white;
        text-decoration: none;
        padding: 1rem 10%;
        font-size: 2rem;
        margin: 0;
    }

    #mobilenav a:hover,
    #mobilenav a:active {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        color: white;
        text-decoration-color: white;
    }

    #mobileactive {
        text-decoration: underline !important;
        text-underline-offset: 0.5rem !important;
        color: white !important;
        text-decoration-color: white !important;
    }

    /* Styling för mobilknapp */
    .menubtn {
        display: flex;
        position: fixed;
        top: 4.5rem;
        left: 3rem;
        border: none;
        background-color: #30190D;
        align-items: center;
        cursor: pointer;
        z-index: 3;
    }

    /* Hamburgermeny bestående av tre linjer, förändras under 0.4 sekunder */
    #line1,
    #line2,
    #line3 {
        width: 22px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
        display: block;
    }

    /* Ändrar position och rotrar första linjen -45 grader genom klassen cross (JS) */
    .cross #line1 {
        transform: translate(0, 8px) rotate(-45deg);
    }

    /* Fadear ut mitten-linjen i hamburgermenyn genom klassen cross (JS) */
    .cross #line2 {
        opacity: 0;
    }

    /* Ändrar position och rotrar tredje linjen 45 grader genom klassen cross (JS) */
    .cross #line3 {
        transform: translate(0, -8px) rotate(45deg);
    }

    /* Döljer sökruta */
    #search-box {
        display: none;
    }

    /* Marginaler för formulär i mobilmeny */
    #mobilenav form {
        margin: 8rem 2rem 0 auto;
        text-align: center;
    }

    /* Marginal och textstorlek för formulär-input i mobilmeny */
    #mobilenav form #search {
        margin: 1rem 0;
        font-size: 1.6rem;
    }

    /* Färg för label */
    #mobilenav form label {
        color: white;
        font-size: 1.8rem;
    }

    /* Styling för sökfunktionen */
    #search2 {
        width: 70%;
        height: 4rem;
        border-radius: 20px;
        border: none;
        font-size: 1.6rem;
        font-family: 'Roboto', Helvetica, sans-serif;
        text-align: left;
        padding-left: 2rem;
        margin: 0.5rem 0.5rem 0 3rem;
    }

    /* Styling för sökknappen (ikon) */
    #searchbtn2 {
        font-size: 1.8rem !important;
        color: white;
        z-index: 1;
        box-shadow: none;
        background: none;
        border: none;
        margin: 0 1rem 0 0;
    }

    #item2 {
        margin: 0 auto 5rem auto;
    }

    #item2 img {
        width: 80%;
        margin: 0 auto;
    }

    blockquote p {
        margin: 0 0 0 18% !important;
    }

    #prod1,
    #prod2,
    #prod3,
    #prod4,
    #prod5,
    #prod6 {
        margin: 5rem auto;
    }

    #coffee1 {
        margin-top: 10rem;
    }

    #coffee3 {
        margin-top: 10rem;
        margin-right: 0;
    }

    #beans1,
    #beans2,
    #beans3,
    #beans4,
    #beans5,
    #beans6 {
        margin: 2rem auto;
    }

    /* Full bredd och marginal till topp */
    #beans6 img {
        width: 100%;
        margin-top: 2rem;
    }

    input,
    select {
        width: 100%;
    }
}

/* Styling för skärmar mindre än 600px */
@media screen and (max-width: 600px) {

    /* Minskar text-storlek */
    body {
        font-size: 1.6rem;
    }

    /* Ökar storlek på bredd av mobilmeny */
    #mobilenav {
        width: 70vw;
    }

    /* Minskar storlek */
    h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    /* Minskar storlek */
    h2 {
        font-size: 2.4rem;
        line-height: 3.4rem;
        margin: 3rem 0 1rem 0;
    }

    /* Minskar storlek */
    h3 {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    /* Minskar storlek */
    h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    video {
        margin: 4rem 0 0 0;
    }

    #buybtn i {
        display: none;
    }

    #item1 {
        font-size: 1.6rem;
    }

    #firstbtn {
        font-size: 1.6rem;
        padding: 1rem 1.8rem;
    }

    blockquote {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    blockquote p {
        margin-left: 1rem !important;
    }

    #small-basket {
        top: 2rem;
        right: 2.2rem;
        font-size: 1.4rem;
    }

    header .fa-basket-shopping {
        right: 4rem;
    }

    #prod1,
    #prod2,
    #prod3,
    #prod4,
    #prod5,
    #prod6 {
        width: 100%;
    }

    /* Visar bilder i flex */
    #productimg {
        display: flex;
        flex-direction: column;
    }

    #storyhead {
        margin-bottom: 0;
    }

    #coffeesection {
        margin: 8rem auto 0 auto;
    }

    #coffee1 {
        margin-top: 10rem;
    }

    #coffee2,
    #coffee3 {
        margin-top: 2rem;
    }

    #coffee1 img,
    #coffee2 img {
        width: 100%;
        max-width: 480px;
    }

    th,
    td {
        padding: 1rem;
    }

    /* Döljer artikelnummer och artikel-id i varukorgen/kassan */
    #article,
    .artID {
        display: none;
    }

    /* Centerar text och ökar marginal till topp */
    footer {
        text-align: center;
        margin: 4rem 0;
        padding: 0.2rem 2rem 4rem 2rem;
    }

    #footer-content,
    #bottom-foot ul {
        flex-direction: column;
        align-items: center;
    }

    #bottom-foot ul {
        margin: 0;
    }

    footer div {
        margin: 2rem 0;
    }

    #bottom-foot a,
    #bottom-foot p {
        padding: 0;
    }
}